DEBUG=True

SECRET_KEY=your-secret-key

DB_NAME=myproject
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432

# Email settings
EMAIL_BACKEND=email.backends.smtp.EmailBackend
EMAIL_USE_TLS=True
EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
EMAIL_FROM=your_email_from
EMAIL_HOST_USER=your_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password

CELERY_BROKER_URL=redis://127.0.0.1:6379/0

FRONTEND_URL=your_frontend_url
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
